<!DOCTYPE html>
<html lang=en>

<head>
    <title>Quiz App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quizapp/css/style.css' %}">
    <link rel = 'stylesheet' href="{% static 'quizapp/css/login.css' %}"/>
</head>
            
<body>

    {% include ".quizapp/partials/header.html" %}

    <main style = 'text-align: center'>

        <h2>You successfully logged out!</h2>

    </main>
    <footer>
            <img  src="{% static 'quizapp/images/squirtle.png' %}"/>
    </footer>
</body>


</html>