<!DOCTYPE html>
<html lang=en>

<head>
    <title>Quiz App</title>
    {% load static %}
        <link rel = 'stylesheet', type='text/css', href="{% static 'quizapp/css/style.css' %}"/>
</head>
            
<body>

    <header>
        {{title}}
    </header>

    <p>This is a test for logging out a user. You successfully logged out!</p>

    <form action = "{% url 'quizapp:login' %}" method = 'get'>
        <button type = "submit">
            Log back in
        </button>
    </form>

</body>


</html>