<!DOCTYPE html>
<html lang=en>

<head>
    <title>Quiz App</title>
    {% load static %}
        <link rel = 'stylesheet', type='text/css', href="{% static 'quizapp/css/login.css' %}"/>
</head>
            
<body>
    <header>
        <a style = 'visibility: hidden'>HOME</a>
        <img  src="{% static 'quizapp/images/projectSquirtle.png' %}"/>
        <a  href="{% url 'quizapp:index' %}">HOME</a>
    </header>
            
    <main>
        <form action = "", method='post', style = 'text-align: center;' class = 'box'>
            {% csrf_token %}
                
            <h2>Login</h2>
            <p>
                {{ form.username.label_tag }}<br>
                {{ form.username }}<br>
                <a href = #>Forgot your username?</a>
            </p>
                
            <p>
                {{ form.password.label_tag }}<br>
                {{ form.password }}<br>
                <a href = "{% url 'quizapp:password_reset' %}">Forgot your password?</a>
            </p>
                
            <p>
                <button type = "submit">
                    Login
                </button>
            </p>
            <p>
                Don't have and account? 
                <a href = "{% url 'quizapp:createAccount' %}">Signup</a>
            </p>
        </form>
    </main>

    <footer>
            <img  src="{% static 'quizapp/images/squirtle.png' %}"/>
    </footer>

</body>


</html>
    