<!DOCTYPE html>
<html lang=en>

<head>
    <title>Quiz App</title>
    {% load static %}
        <link rel = 'stylesheet', type='text/css', href="{% static 'quizapp/css/login.css' %}"/>
</head>
            
<body>

    <header>
        Quiz App 
    </header>

    <article class = "box">

        <h2>Change Password</h2>
        <form id = "cancel" action = "{% url 'quizapp:profile' %}" method = "get"></form>
        <form method="post">
            {% csrf_token %}
            <section>

                <article>
                    <p>
                        {{ form.old_password.label_tag }}<br>
                        {{ form.old_password }}<br>
                        {% for error in form.username.errors %}
                        <div style="color: red">{{ error }}</div>
                        {% endfor %}
                    </p>
                    
                    <p>
                        {{ form.new_password1.label_tag }}<br>
                        {{ form.new_password1 }}<br>
                    </p>
                    {% for error in form.password1.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    
                    <p>
                        {{ form.new_password2.label_tag }}<br>
                        {{ form.new_password2 }}<br>
                    </p>
                    {% for error in form.password2.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </article>
                <article style = "text-align: left">
                        <small style="color: black" >{{ form.new_password1.help_text }}</small>
                    <small style="color: black" >{{ form.password1.help_text }}</small>
                </article>
            </section>
            
            <p>
                <button type="submit">Update</button>
            
                <button type="submit" form = "cancel">Cancel</button>
            </p>
            
        </form>
    </article>

</body>


</html>
    