<!DOCTYPE html>
<html lang=en>

<head>
    <title>Quiz App</title>
    {% load static %}
        <link rel = 'stylesheet', type='text/css', href="{% static 'quizapp/css/style.css' %}"/>
</head>
            
<body>
    
    <header>
        <section>
            <a style = 'visibility: hidden'> {{username}}</a>
            <a style = 'visibility: hidden'>Logout</a>
        </section>
            <img  src="{% static 'quizapp/images/projectSquirtle.png' %}"/>
        <section>
            <a href = "{% url 'quizapp:profile' %}">{{username}}</a>
            <a href="{% url 'quizapp:logout' %}">Logout</a>
        </section>
    </header>

    <main style = 'text-align: center'>

        <p>You're password has successfully been changed!</p>
        
        <form action = "{% url 'quizapp:profile' %}" method = 'get'>
            <button type = "submit">
                Back to your profile
            </button>
        </form>
    </main>
    <footer>
            <img  src="{% static 'quizapp/images/squirtle.png' %}"/>
    </footer>
</body>


</html>