<!DOCTYPE html>
<html lang=en>

<head>
    <title>Quiz App</title>
    {% load static %}
    <link rel = 'stylesheet', type='text/css', href="{% static 'quizapp/css/login.css' %}"/>
</head>
            
<body>

    <header>
        Quiz App
    </header>

    <article class = "box">
        <h2>Enter your email to receive a new password.</h2>
        Not functioning, will throw errors.
        <form action = "", method='post'>
            {% csrf_token %}
            {{form.as_p}}
            <p>
                <button type = "submit">
                    Submit
                </button>
            </p>
            
            <p>Back to <a href = "{% url 'quizapp:login' %}">Login</a></p>
        </form>
    </article>
</body>


</html>
    