<!DOCTYPE html>
<html lang=en>

<head>
    <title>Quiz App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quizapp/css/style.css' %}">
    <link rel = 'stylesheet' href="{% static 'quizapp/css/style.css' %}"/>
</head>
            
<body>
    
    {% include "quizapp/partials/header.html" %}

    <main style = 'text-align: center'>

        <p>You're password has successfully been changed!</p>
        
        <form action = "{% url 'quizapp:profile' %}" method = 'get'>
            <button type = "submit">
                Back to your profile
            </button>
        </form>
    </main>
    <footer>
            <img  src="{% static 'quizapp/images/squirtle.png' %}"/>
    </footer>
</body>


</html>