<!DOCTYPE html>
<html lang=en>

<head>
    <title>Quiz App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quizapp/css/style.css' %}">
    <link rel = 'stylesheet' href="{% static 'quizapp/css/login.css' %}"/>
</head>
            
<body>

    {% include "quizapp/partials/header.html" %}

    <main style = 'text-align: center'>
        <p>This is a test for the password reset has been sent page!</p>
        
        <form action = "{% url 'quizapp:login' %}" method = 'get', >
            <button type = "submit">
                Login
            </button>
        </form>
    </main>
    <footer>
            <img  src="{% static 'quizapp/images/squirtle.png' %}"/>
    </footer>
</body>


</html>