<!DOCTYPE html>
<html lang=en>

<head>
    <title>Password Update</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quizapp/css/style.css' %}">
    <link rel = 'stylesheet' href="{% static 'quizapp/css/login.css' %}"/>
</head>
            
<body>

    {% include "quizapp/partials/header.html" %}

    <article>
        <h2>Enter your email to receive a new password.</h2>
        <form action = "", method='post'>
            {% csrf_token %}
            {{form.as_p}}
            <p>
                <button type = "submit">
                    Submit
                </button>
            </p>
            
            <p>Back to <a href = "{% url 'quizapp:login' %}">Login</a></p>
        </form>
    </article>
    {% include "quizapp/partials/footer.html" %}
</body>


</html>
    