<!DOCTYPE html>
<html lang=en>

<head>
    <title>Quiz App</title>
    {% load static %}
    <link rel = 'stylesheet', type='text/css', href="{% static 'quizapp/css/login.css' %}"/>
</head>
            
<body>

    <header>
        <section>
            <a style = 'visibility: hidden'>HOME</a>
            <a style = 'visibility: hidden'>LOGIN</a>
        </section>
        <img  src="{% static 'quizapp/images/projectSquirtle.png' %}"/>
        <section>
            <a href = "{% url 'quizapp:index' %}">HOME</a>
            <a href="{% url 'quizapp:login' %}">LOGIN</a>
        </section>
    </header>

    <article class = "box">
        <h2>Enter your email to receive a new password.</h2>
        <form action = "", method='post'>
            {% csrf_token %}
            {{form.as_p}}
            <p>
                <button type = "submit">
                    Submit
                </button>
            </p>
            
            <p>Back to <a href = "{% url 'quizapp:login' %}">Login</a></p>
        </form>
    </article>
    <footer>
            <img  src="{% static 'quizapp/images/squirtle.png' %}"/>
    </footer>
</body>


</html>
    