<!DOCTYPE html>
<html lang=en>

<head>
    <title>Quiz App</title>
    {% load static %}
        <link rel = 'stylesheet', type='text/css', href="{% static 'quizapp/css/login.css' %}"/>
</head>
            
<body>

    <header>
        <section>
            <a style = 'visibility: hidden'>HOME</a>
            <a style = 'visibility: hidden'>LOGIN</a>
        </section>
        <img  src="{% static 'quizapp/images/projectSquirtle.png' %}"/>
        <section>
            <a href = "{% url 'quizapp:index' %}">HOME</a>
            <a href="{% url 'quizapp:login' %}">LOGIN</a>
        </section>
    </header>

    <main style = 'text-align: center'>
        <p>This is a test for the password reset has been sent page!</p>
        
        <form action = "{% url 'quizapp:login' %}" method = 'get', >
            <button type = "submit">
                Login
            </button>
        </form>
    </main>
    <footer>
            <img  src="{% static 'quizapp/images/squirtle.png' %}"/>
    </footer>
</body>


</html>