body{
	background-image: URL("../images/background.jpg");
	background-repeat: no-repeat;
    background-size: 100%;
	text-shadow: 1px 1px 10px white;
}
header{
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}

nav{
	text-align: right;
}

section{
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-evenly;
}

article{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-evenly;
	
}

.box{

	margin: 5% 20% 10% 20%;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: darkblue;
	background-color: rgb(80, 156, 223);
}