body{
	justify-content: space-around;
	background-color: rgb(119, 189, 250);
	background-repeat: no-repeat;
	background-size: 100%;
	text-shadow: 1px 1px 10px white;
	margin: 0px;
	padding: 0px;
}


header{
    background-color: #CA6610; 
    top: 0; 
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
}



.header-link {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin: 25px 5px 25px 10px;
	background: #10223B;
    text-decoration: none;
	border: 1px solid #4a6899;
}

.header-link:hover{
	background: #294277;
}

.no-underline {
	text-decoration: none;
}

header section{
	display: flex;
	justify-content: flex-end;
}

footer img{
	position: fixed;
	width: 200px;
	height: 200px;
	right: 0px;
	bottom: 0px;
}

/* CSS FOR HOMEPAGE BUTTONS  */

section{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 5px;
	text-align: center;
	width: 100%;
}
.box-button{
	background: #10223B;
	padding: 50px;

	line-height: 150px;
 	color: white;
  	font-weight: bold;
  	font-size: 3em;
  	text-align: center;	
}

.box-button:hover{
	background: #294277;
}


.wrapper{
	display: flex;
	flex-flow: row wrap;
	margin: 10%; 
}

