<header> 
    <!--I have these duplicated and invisible so in flex i can have the image in the middle, and buttons on the side. You need symmetry to make it look like that.-->
    <section>
        {% if request.user.is_authenticated %}
        <a class="header-link" style = 'visibility: hidden'>{{request.user.username}}</a>
        <a class="header-link" style = 'visibility: hidden'>LOGOUT</a>
        {% else %}
        <a class="header-link" style = 'visibility: hidden'>LOGIN</a>
        {% endif %}
    </section>
    {% load static %}
    <a href="{% url 'quizapp:index' %}"><img  src="{% static 'quizapp/images/projectSquirtle.png' %}"/></a>
    <section>
        {% if request.user.is_authenticated %}
        <a class="header-link" href="{% url 'quizapp:profile' %}">{{request.user.username}}</a>
        <a class="header-link" href="{% url 'quizapp:logout' %}">LOGOUT</a>
        {% else %}
        <a class="header-link" href="{% url 'quizapp:login' %}">LOGIN</a>
        {% endif %}
    </section>
</header>
