<!DOCTYPE html>
<html lang=en>
    
<head>
    <title>Quiz App</title>
    {% load static %}
        <link rel = 'stylesheet', type='text/css', href="{% static 'quizapp/css/login.css' %}"/>
        <script type="text/javascript" src="{% static 'quizapp/scripts/editquestion.js' %}"></script>
</head>
<body style = "text-align: center"></body>

    <header>
        <section>
            <a style = 'visibility: hidden'> {{username}}</a>
            <a style = 'visibility: hidden'>Logout</a>
        </section>
            <img  src="{% static 'quizapp/images/projectSquirtle.png' %}"/>
        <section>
            <a href = "{% url 'quizapp:profile' %}">{{username}}</a>
            <a href="{% url 'quizapp:logout' %}">Logout</a>
        </section>
    </header>

    <main >
        <article class = 'box'>
            
            <form id = 'finish' action = "{% url 'quizapp:editQuiz' quizID %}", method = 'get' ></form>

            <form action = "{% url 'quizapp:editQuestion' quizID question.id %}", method = 'post' id = 'questionForm'>
                <p>
                    {% csrf_token %}
                    <label for = ' questionTextID' >Question:</label>            
                    <input type = 'text' id = 'questionTextID', name = 'questionText', value = "{{question.getQuestionText}}">        
                </p>
            
            <p>
                <button type = 'submit' name = 'questionButton'>Save</button>
                <input type = 'submit' value = "Finish" form = 'finish'>
            </p>
            </form>
        </article>



        <article class = 'box', id = 'answerList'>

                <p>    
                    <form id = 'addForm'>
                        <button type = "button" onclick = addAnswer()> Create Answer </button>
                    </form>

                    <article >
                        <form id = 'answerForm' action = "{% url 'quizapp:editQuestion' quizID question.id %}", method ='post', style="display:none">
                            <section>
                                {% csrf_token %}
                                <article>
                                    <p>
                                        {{form.answerText.label_tag}}<br>
                                        {{form.answerText}}
                                        
                                    </p>
                                    <p>
                                        {{form.isCorrect.label_tag}}
                                        {{form.isCorrect}}
                                    </p>
                                    <p>
                                        {{form.pointValue.label_tag}}
                                        {{form.pointValue}}
                                    </p>
                                </article>
                                <article>
                                    <p>
                                        {{form.answerText.help_text}}
                                    </p>
                                </article>
                            
                            </section>
                            <article>
                                <button type = "submit" name = 'answerButton'> Submit</button>
                                <button type = "button" onclick = cancelAdd()>Cancel</button>
                            </article>
                        </form>
                    </article>
                </p>
                <hr>
                {% if answers %}
                {% for answer in answers %}
                <article>
                    <form action = "{% url 'quizapp:editAnswer' quizID question.id answer.id %}" method = 'get' id = {{answer.id}}></form>

                    <form action = "{% url 'quizapp:deleteAnswer' %}", method = 'post' style = 'display: inline'>
                        {{answer.getText}}
                        {% csrf_token %}
                        <input type='hidden' value= {{quizID}} name='quizID'>
                        <input type='hidden' value= {{question.id}} name='questionID'>                       <input type='hidden' value= {{answer.id}} name='answerID'>
                        <button type = 'submit'>Delete Answer</button>
                        <input type = 'submit' value = "Edit Answer" form = {{answer.id}}>
                    </form>
                    <hr>
                    
                </article> 
                {% endfor %}
                {% endif %}
        </article>
                    


    </main>
    <footer>
            <img  src="{% static 'quizapp/images/squirtle.png' %}"/>
    </footer>
</body>

</html>