<!DOCTYPE html>
<html lang=en>
    
<head>
    <title>Quiz App</title>
    {% load static %}
        <link rel = 'stylesheet', type='text/css', href="{% static 'quizapp/css/style.css' %}"/>
</head>

<body style = "text-align: center">
	<div class="header"> 
		<img src="{% static 'quizapp/images/projectSquirtle.png' %}"/>
		<a href="quizapp/accounts/profile/">LOGIN</a>
	</div>
    <p >This is our homepage! Thanks for visiting!</p>
	<div class="indexWrapper">
		<p>Join Quiz</p>
		<p>Create Quiz</p>
	</div>
</body>

</html>
