<!DOCTYPE html>
<html lang=en>
    
<head>
    <title>Quiz App</title>
    {% load static %}
        <link rel = 'stylesheet', type='text/css', href="{% static 'quizapp/css/style.css' %}"/>
</head>

<body>

	{% include "quizapp/partials/header.html" %}
		
	<section>
		<a class="no-underline" href="{% url 'quizapp:joinQuiz' %}"><article class="box-button">Join Quiz</article></a>
		{% if request.user.is_authenticated %}
			<a class="no-underline" href="{% url 'quizapp:createQuiz' %}"><article class="box-button">Create Quiz</article></a>
		{% endif %}
	</section>

    <footer>
            <img  src="{% static 'quizapp/images/squirtle.png' %}"/>
	</footer>
	
</body>

</html>
