<!DOCTYPE html>
<html lang=en>
    
<head>
    <title>Quiz App</title>
    {% load static %}
        <link rel = 'stylesheet', type='text/css', href="{% static 'quizapp/css/style.css' %}"/>
</head>

<nav style = "text-align: right">
    <a href = "{% url 'quizapp:login' %}">Login</a>
</nav>

<body style = "text-align: center">
	<div class ="wrapper">
		<div class="flex-container">
			<div class="header"> 
				<img src="{% static 'quizapp/images/projectSquirtle.png' %}"/>
				<a href="quizapp/accounts/profile/">LOGIN</a>
			</div>
		</div>
		<div class="flex-container">
			<div class="flex-item">Join Quiz</div>
			{% if request.user.is_authenticated %}
				<div class="flex-item">Create Quiz</div>
			{% endif %}
		</div>
	</div>
</body>

</html>
