<!DOCTYPE html>
<html lang=en>
    
<head>
    <title>Quiz App</title>
    {% load static %}
        <link rel = 'stylesheet', type='text/css', href="{% static 'quizapp/css/style.css' %}"/>
        <script type="text/javascript" src="{% static 'quizapp/scripts/profile.js' %}"></script>
</head>

<header></header>
<nav style = "text-align: right">
    <a href="{% url 'quizapp:logout' %}"> Signout  </a>
     <a href = "{% url 'quizapp:password_change' %}">Change Password</a>

</nav>

<body style = "text-align: center">
    <p >This is your profile!</p>
    <p >Thanks for logging in {{username}}!</p>


    <section id = 'quizlist'>

        <form action = "{% url 'quizapp:createQuiz' %}" method = 'get'>
            <button type = "submit"> Create Quiz </button>
        </form>

        <hr>
        {% if quizzes %}
        {% for quiz in quizzes %}
        <article>
            <p>
                {{quiz.getQuizName}}
            </p>
            <p style = 'font-size: 13px'>
                {{quiz.getQuizDescription}}
            </p>
            <form action = "{% url 'quizapp:deleteQuiz' %}", method = 'post' style = 'display: inline'>
                {% csrf_token %}
                <input type='hidden' value= {{quiz.id}} name='quizID'>
                <button type = 'submit'>Delete Quiz</button>
            </form>
            <form action = "{% url 'quizapp:editQuiz' quiz.id %}" style = 'display: inline'>
                <input type = 'submit' value = "Edit Quiz">
            </form>
        </article> 
        <hr>
        {% endfor %}
        {% endif %}
    </section>

</body>

</html>