<!DOCTYPE html>
<html lang=en>
    
<head>
    <title>Quiz App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quizapp/css/style.css' %}">
    <link rel = "stylesheet" href="{% static 'quizapp/css/login.css' %}"/>
</head>
<body style = "text-align: center">

    {% include "quizapp/partials/header.html" %}

    <p>
        <form action = "{% url 'quizapp:createQuiz' %}" method = 'get'>
            <button type = "submit"> Create Quiz </button>
        </form>
    </p>
    <hr>
    <section id = 'quizlist'>

        {% if quizzes %}
        {% for quiz in quizzes %}

        <article class = 'quizpadded'>

            <p>
                {{quiz.getQuizName}}
            </p>
            
            <p style = 'font-size: 13px'>
                {{quiz.getQuizDescription|truncatechars:120 }}
            </p>
            <section>
                <form action = "{% url 'quizapp:deleteQuiz' %}", method = 'post' style = 'display: inline'>
                    {% csrf_token %}
                    <input type='hidden' value= {{quiz.id}} name='quizID'>
                    <button type = 'submit'>Delete Quiz</button>
                </form>
                <form action = "{% url 'quizapp:editQuiz' quiz.id %}" style = 'display: inline'>
                    <input type = 'submit' value = "Edit Quiz">
                </form>
                <form action = "{% url 'quizapp:startQuiz' quiz.id %}" target="_blank" style = 'display: inline'>
                    <input type = 'submit' value = "Start Quiz">
                </form>                
            </section>
        </article> 
        
        {% endfor %}
        {% endif %}

    </section>

    {% include "quizapp/partials/footer.html" %}

</body>

</html>
