<!-- chat/templates/quizapp/sessionjoin.html -->
<!DOCTYPE html>
<html lang=en>
<head>
	<meta charset="utf-8"/>
	<title>Session Joined</title>
	{% load staticfiles %}
		<link rel = 'stylesheet', type='text/css', href="{% static 'quizapp/css/style.css' %}"/>
		<link rel = 'stylesheet', type='text/css', href="{% static 'quizapp/css/login.css' %}"/>
		<link rel = 'stylesheet', type='text/css', href="{% static 'quizapp/css/joinQuiz.css' %}"/>
		<script type="text/javascript" src="{% static 'quizapp/scripts/studentview.js' %}"></script>
</head>
<body>

	{% include "quizapp/partials/header.html" %}
	
	<main id = "main", style = 'text-align: center;'>
		
		<div class = 'boxcenter'>
			<section class="join-quiz-form">
				<article class="session-id-section" style = 'align-items: center;'>
					<h2>Please enter a username.</h2>
					<input type = 'text', id = 'userName', class ='session-id', style = 'size: 10;'>
					<input type = 'button', onclick = 'submitUsername()'value = "Submit" class="submit-btn", style = 'width: 150px;'>
				</article>
			</section>
		</div>
		
	</main>
		
	<img id ='waiting' style="display:block; margin-left: auto; margin-right: auto; display: none;" src="{% static 'quizapp/images/giphy.gif' %}"/>
	{% if joined %}
		<script>
			console.log('{{userName}}');
			setStart('{{userName}}');
		</script>
	{% endif %}
	{% include "quizapp/partials/footer.html" %}
</body>
<script>
	connectToSocket({{room_name_json}});
	var submitUsername = function(){
		var userName = document.querySelector('#userName').value
		sendusername(userName, {{room_name_json}});
	}
	
</script>
</html>

