<!-- chat/templates/quizapp/sessionjoin.html -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Joined Chat Room</title>
</head>
<body>
	<textarea id="chat-log" cols="100" rows="20"></textarea><br/>

	<input id="submit-a" type="button" value="Send A"/>
	<input id="submit-b" type="button" value="Send B"/>
	<input id="submit-c" type="button" value="Send C"/>
	<input id="submit-d" type="button" value="Send D"/><br/>
</body>
<script>
	var roomName = {{ room_name_json }};

	var chatSocket = new WebSocket(
		'ws://' + window.location.host +
		'/ws/quizapp/' + roomName + '/');

	chatSocket.onmessage = function(e) {
        	var data = JSON.parse(e.data);

		if (data['msg_type']=='0') {
			var message = data['message'];
			document.querySelector('#chat-log').value += (message + '\n');
		}
	};

	chatSocket.onclose = function(e) {
        	console.error('Chat socket closed unexpectedly');
	};

	document.querySelector('#submit-a').onclick = function(e) {
		var message = "A";
		chatSocket.send(JSON.stringify({
			'message': message,
			'msg_type': '1'
		}));
	};

	document.querySelector('#submit-b').onclick = function(e) {
		var message = "B";
		chatSocket.send(JSON.stringify({
			'message': message,
			'msg_type': '1'
		}));
	};

	document.querySelector('#submit-c').onclick = function(e) {
		var message = "C";
		chatSocket.send(JSON.stringify({
			'message': message,
			'msg_type': '1'
		}));
	};

	document.querySelector('#submit-d').onclick = function(e) {
		var message = "D";
		chatSocket.send(JSON.stringify({
			'message': message,
			'msg_type': '1'
		}));
	};

</script>
</html>

