<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quizapp/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'quizapp/css/question.css' %}">
    <title>{{quizName}}</title>
</head>
<body>
    {% include "quizapp/partials/header.html" %}

    <main></main>
    <div id="overlay-vote-box">
        <img id="squirtle-mug" src="{% static 'quizapp/images/squirtlemugshot.png' %}">
    </div>

    {% include "quizapp/partials/footer.html" %}
    <script src="{% static 'quizapp/scripts/teacherview.js' %}"></script>
    <script>
        connectToSocket({{ room_name_json }}, "{{ quizName }}");
        
    </script>
</body>
</html>